<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD ExpressJS Zellwk</title>
</head>
<body>
    <h1>Halo Ini adalah CRUD menggunakan ExpressJS Framework</h1>
    <br>
    <ul class="quotes">
        <% for(var i=0; i<quotes.length; i++) {%>
            <li class="quote">
                <span><%= quotes[i].name %></span>
                <span><%= quotes[i].quote %></span>
            </li>
        <% } %>
    </ul>
    <br>
    <form action="/quotes" method="post">
        <input type="text" name="name" placeholder="Nama">
        <input type="text" name="quote" placeholder="Quote">
        <button type="submit">Submit</button>
    </form>
    <br>
    <div>
        <h2>Replace quote by shinobi</h2>
        <button id="update">Shinobi Jutsu!!!</button>
    </div>
    <br>

    <div>
        <h2>Delete Naruto first quote</h2>
        <button id="delete">Delete</button>
    </div>

    <!-- Javascript External main.js -->
    <script src="main.js"></script>

</body>
</html>